# Данные
data/
*.db
*.sqlite3
*.sqlite

# Секреты
.env
.env.*
*.pem
*.key

# Git
.git/
.gitignore

# IDE и кеши
.idea/
.vscode/
__pycache__/
*.pyc
.pytest_cache/

# Логи
*.log

# Документация
README.md
*.md
docs/